{% extends 'account/__temp.html' %}

{% block title %}
 login
{% endblock %}

{% block header %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1> The Tutorial Social Media Project </h1>
    <p>(login page)</p>
</div>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>

                <div class="mb-3">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                </div>

                <div class="form-check mb-3">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember_me"> Remember me
                  </label>
                </div>

                <button type="submit" class="btn btn-primary">login</button>
            </form>
            <br>
            <div>
                If you don't have account, please <a href="{% url 'register' %}">register</a> !
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

{% endblock %}